.quizname {
    width: 40vw;
    height: 51px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    margin-top: 30px;
}

.quizname input {
    width: 453px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    outline: none;
    font-size: 23px;
    border: none;
    line-height: 52px;
    padding-left: 30px;
    color: #9f9f9f;
}

.quiztype {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.quiztype div {
    width: 171px;
    height: 40px;
    border-radius: 10px;
}

.quiztype div:nth-child(2),
.quiztype div:nth-child(3) {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    cursor: pointer;

}

.quiztype div h4 {
    font-family: "Poppins", sans-serif;
    font-display: 20px;
    line-height: 40px;
    font-weight: 500;
    text-align: center;
    color: #9f9f9f;
}

.selectBtn {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.selectBtn div {
    width: 250px;
    height: 37px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

}

.selectBtn div:first-child {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;

}

.selectBtn div:nth-child(2) {
    background-color: #60B84B;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;

}

.selectBtn div button {
    all: unset;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    color: #474444;

}

.selectBtn div:nth-child(2) button {
    color: white;
}

/* Create Quiz */

.slides {
    display: flex;
    gap: 10px;
}

.slides div span {

    font-family: "Poppins", sans-serif;
    text-align: center;
    display: flex;
    color: #9f9f9f;
}

.slides div span:first-child {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    width: 34px;
    height: 58px;
    justify-content: start;
    align-items: center;

}

.slides div span:nth-child(2) {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    justify-content: end;
    align-items: start;
    cursor: pointer;

}


.slides div {
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: end;
    border-radius: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    cursor: pointer;
}

.question {
    width: 55vw;
    height: 41px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    margin: 0 auto;
    margin-top: 20px;
}

.question input {
    width: 50vw;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    outline: none;
    font-size: 20px;
    border: none;
    line-height: 40px;
    padding-left: 30px;
    color: #9f9f9f
}

.optiontype {
    display: flex;
    gap: 10px;
    width: 51vw;
    margin: 0 auto;
    margin-top: 15px;
}

.optiontype div {
    width: 131px;
    height: 30px;
    display: flex;
    gap: 10px;
}

.optiontype div:last-child {
    width: 210px;

}

.optiontype div h4 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    color: #9f9f9f;
}

.option {
    margin-top: 10px;
}

.option div {
    display: flex;
    gap: 10px;

}

.option input:nth-child(2),
.option input:nth-child(3),
.option div h1 {
    width: 180px;
    height: 25px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    color: #9f9f9f;

}

.timer {
    width: 95px;
    height: 180px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 257px;
    right: 61px;
}


.timer div {
    width: 95px;
    height: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    margin-bottom: 10px;

}

.timer div h2 {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}

/* share quiz */
.sharebox {
    width: 670px;
    margin: 0 auto;
}

.congrat {
    width: 500px;
    margin: 0 auto;

}
.sharebox div{
    margin-bottom: 20px;
}

.congrat h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
}

.sharebox div:nth-child(3) {
    width: 650px;
    height: 60px;
    border-radius: 10px;
    background: #ededed;

}
.sharebox div:nth-child(4) {
    width: 280px;
    height: 46px;
    border-radius: 10px;
    background: #60B84B;
    text-align: center;
    margin: 0 auto;


}

.sharebox div:nth-child(3) h2 {

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 60px;
    margin-left: 20px;
    text-align: center;
}

.sharebox div:nth-child(4) button {
    all: unset;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 46px;
    text-align: center;
    color: white;
}

.removeShareLink{
    float: right;
    cursor: pointer;
}
.removeShareLink h1{
    color:#474444;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
}