.overlayclass {
    background: #041325;
    position: fixed;
    inset: 0px;
}

.queno {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 10px;
}

.queno h3:first-child {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #474444;
}

.queno h3:last-child {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;

}

.question {
    width: 60vw;
    height: 100px;
    margin: 0px auto;
}

.question h1 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    color: #474444;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 310px;
}

.options div {
    width: 300px;
    margin: 0 auto;
    height: 129px;
    margin-top: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.options div p {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 112px;
    text-align: center;

}

.nextbtn {
    width: 320px;
    margin: 0 auto;
    height: 56px;
    border-radius: 10px;
    background: #60B84B;
    cursor: pointer;
    margin-top: 30px;
}

.nextbtn button {
    all: unset;
    width: 300px;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
}

.options img {
    width:130px;
    height:111px;
    border-radius: 10px;
}

.Congrats {
    width: 50vw;
    margin: 0 auto;
    margin-top: 30px;
}

.Congrats div h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #474444
}

.Congrats div h1 span {
    color: #60B84B;

}
.quiztrophy{
    width: 26vw;
     margin: 0 auto;
}

.Congrats div img {
    width: 320px;
    height: 323px;

}

.poll h1 {
    font-size: 74px;
    line-height: 111px;
    text-align: center;
    font-weight: 700;
}

@media (max-width:700px) {
    .question {
        width: 90vw;
        height: 100px;
        margin: 0px auto;
    }

    .question h1 {
        font-size: 21px;
        line-height: 25px;
    }

    .options {
        grid-template-columns: 1fr;
        height: 375px;
    }

    .options div {
        height: 70px;
    }

    .options div p {
        line-height: 50px;
    }

    .options div img {
        height: 52px;
        width: 95px;
    }
    .Congrats,.quiztrophy{
        width:85vw;
        margin-top: 30px;
    }

    .Congrats div h1 {
        font-size: 30px;
    }

    .poll {
        display: flex;
        width: 50vw;
        margin: 0 auto;
        justify-content: end;
        align-items: center;
        height: 100vh;
    }


    .poll h1 {
        font-size: 50px;
    }
}